Module 3: Data Structures Assignments
Lesson 3.4: Dictionaries

Assignment 1: Creating and Accessing Dictionaries
Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [ ]:
dict1={i:i**2 for i in range(1,11)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Assignment 2: Accessing Dictionary Elements
Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [ ]:
for i in dict1:
  if i==5:
    print(dict1[i])
print(dict1.values())
print(dict1.keys())

25
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

Assignment 3: Dictionary Methods
Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [ ]:
dict1.update({11:121})
dict1.pop(1)
print(dict1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

Assignment 4: Iterating Over Dictionaries
Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [ ]:
for key,value in dict1.items():
  print(f"({key}:{value})")

(2:4)
(3:9)
(4:16)
(5:25)
(6:36)
(7:49)
(8:64)
(9:81)
(10:100)
(11:121)

Assignment 5: Dictionary Comprehensions
Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [ ]:
dict1={i:i**3 for i in range(1,11)}
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

Assignment 6: Merging Dictionaries
Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [ ]:
dict1={i:i**2 for i in range(1,6)}
dict2={i:i**2 for i in range(6,11)}
dict1.update(dict2)
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Assignment 7: Nested Dictionaries
Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [ ]:
students={"name":"nikhil","age":24,"grades":{"math":90,"science":80,"english":70}}
print(students)

{'name': 'nikhil', 'age': 24, 'grades': {'math': 90, 'science': 80, 'english': 70}}

Assignment 8: Dictionary of Lists
Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [ ]:
dict1={i:[num*1 for num in range(1,6)] for i in range(1,6)}
print(dict1)

{1: [1, 2, 3, 4, 5], 2: [1, 2, 3, 4, 5], 3: [1, 2, 3, 4, 5], 4: [1, 2, 3, 4, 5], 5: [1, 2, 3, 4, 5]}

Assignment 9: Dictionary of Tuples
Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [ ]:
dict1={i:(i,i**2) for i in range(1,6)}
print(dict1)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

Assignment 10: Dictionary and List Conversion
Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [ ]:
dict1={i:i**2 for i in range(1,6)}
print(dict1)
list1=list(dict1.items())
print(list1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Assignment 11: Dictionary Filtering
Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [ ]:
dict1={i:i**2 for i in range(1,11) if i%2==0}
print(dict1)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

Assignment 12: Dictionary Key and Value Transformation
Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [ ]:
dict1={i:i**2 for i in range(1,6)}
print(dict1)
dict2={value:key for key ,value in dict1.items()}
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

Assignment 13: Default Dictionary
Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

Assignment 14: Counting with Dictionaries
Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [ ]:
def count(str):
  dict1={}
  for i in str:
    if i in dict1:
      dict1[i]+=1
    else:
      dict1[i]=1
  return dict1
print(count("nikhil"))

{'n': 1, 'i': 2, 'k': 1, 'h': 1, 'l': 1}

Assignment 15: Dictionary and JSON
Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [ ]:
import json
book={"title":"Manga","author":"Nikhil" ,"year":2023,"genre":"Manga"}
json_books=json.dumps(book)
print(json.dumps(book))

{"title": "Manga", "author": "Nikhil", "year": 2023, "genre": "Manga"}